$background: #F8F9FA !important;
$zoomBlue: #2D8CFF;
$grey: grey;
$black: #000;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $background;
  overflow: auto;
  margin-bottom: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-radius: 6px;
}

#zmmtg-root {
  display: none;
}

.ant-layout {
  height: 68px;
  background: $background;
  .ant-layout-header {
    background: $background;
    .ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
      font-size: 20px;
      background: $background;
    }
  }  
}

.navbar-logo {
  max-height: 68px;
}

.home-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 20px;
  flex-direction: column;
  h1 {
    display: flex;
    color: $black;
    font-size: 5.5em;
    margin-top: 25vh;
    > .anticon {
      margin-left: 20px;
    }
  }
  .logo {
    max-width: 200px;
    height: auto;
  }
  h4 {
    display: flex;
    align-items: center;
    color: $grey;
    .logo {
      max-width: 250px;
      height: auto;
    }
  }
}

.layout-container {
  padding: 30px 60px 0px 60px;
  margin-bottom: 40px;
  > .ant-layout-header {
    font-size: 30px;
    font-weight: 500;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
    &.header-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    > small {
      color: $grey;
      font-size: 18px;
    }
    > div > small {
      color: $grey;
      font-size: 18px;
      margin-right: 10px;
    }
    > div {
      display: flex;
      > .carrot-right {
        display: flex;
        margin: 28px 10px 0px 10px;
        .anticon {
          font-size: 14px;
        }
      }
    }
    &.header-start {
      display: flex;
      align-items: center;
      > .carrot-right {
        display: flex;
        margin: 5px 10px 0px 10px;
        .anticon {
          font-size: 14px;
        }
      }
      > .meeting-topic {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 60%;
      }
      > small {
        margin: 10px 0px 0px 10px;
        display: flex;
      }
    }
  }
  &.edit {
    padding: 0px;
    margin-top: -20px;
  }
}

.align-center {
  text-align: center;
  padding-top: 20vh; 
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  > .submit-btn {
    margin-left: 10px;
  }
}

.drawer-icon {
  margin-left: 10px;
  > .anticon {
    font-size: 18px;
  }
}

@import './meetings.scss'